.camera-layout {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: [body-start] 75% [body-end footer-start] 25% [footer-end];
    grid-template-columns: [stream-start] 75% [stream-end side-start] 25% [side-end];

    .stream {
        background-color: red;
        grid-row: body-start / body-end;
        grid-column: stream-start / stream-end;
    }

    .side-pane {
        background-color: blue;
        grid-row: body-start / footer-end;
        grid-column: side-start / side-end;
    }

    .footer {
        background-color: aquamarine;
        grid-row: footer-start / footer-end;
    }
}
