.nav-bar-container {
    height: 100vh;

    // To be removed
    border-width: 0 2px 0 0;
    border-style: solid;

    > .nav-bar-layout {
        height: 100%;
        display: grid;
        grid-template-rows: [branding-start] 150px [branding-end routes-start] auto [routes-end profile-start] 150px [profile-end];

        > .branding-area {
            grid-row: branding-start / branding-end;
        }

        > .routes-area {
            grid-row: routes-start / routes-end;
        }

        > .profile-area {
            grid-row: profile-start / profile-end;
        }
    }
}
